
body {
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.board {
    margin: 10px auto;
    
    background-color: burlywood;
    height: 200px;
    width: 400px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

table, td {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}


.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
    padding: auto;
}

.cell:hover {
    background-color: rgb(229, 199, 160);
}

.revealed {
    background-color: rgb(229, 199, 160);
}

button {
    background-color: antiquewhite;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 50px auto;
}

button:hover {
    background-color: rgb(229, 199, 160);
}
